$darkblue: #011F51;
$cream: #FBEEC1;
$orange: #DA862D;
$teal: #006F69;
$rosewood: #6A040F;

@mixin breakpoint($class) {
	@if $class == xs-width {
		@media (max-width: 359px) { @content; }
	}
	@else if $class == sm-width {
		@media (min-width: 576px) { @content; }
	}
	@else if $class == md-width {
		@media (min-width: 768px) { @content; }
	}
	@else if $class == lg-width {
		@media (min-width: 992px) { @content; }
	}
	@else if $class == xl-width {
		@media (min-width: 1200px) { @content; }
	}
	@else if $class == sm-height {
		@media (max-height: 576px) { @content; }
	}
	@else {
		@warn 'Breakpoint mixin supports: sm-width, md-width, lg-width, xl-width, sm-height'
	}
}

