#about {
	position: relative;
	min-height: 95vh;
	padding-top: 60px;
	background: linear-gradient(195deg,#da862d 39%, #FBEEC1 calc(39% + 2px));
	.top {
	height: 0px;
	}
	#bio {
		border: 1px solid #6a040f;
		background-color: #167974;
		width: 60%;
		margin: auto;
		font-size: 1em;
	}
	.modal {
		display: grid;
		place-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		#resume {
			position: relative;
			#close {
				position: absolute;
    		top: -20px;
   		  right: -20px;
				font-size: 2em;
				color: #167974;
				background-color:  #FBEEC1;
				border-radius: 50px;
				border: 2px solid #FBEEC1;
				cursor: pointer;
			}
		}
	}
}