@import 'variables';

#about {
	display: grid;
	place-content: center;
	position: relative;
	padding-top: 2em;
	background-color: $cream;
	z-index: -2;
	height: 90vh;
	.background {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -1;
		background-color: $orange;
		clip-path: polygon(100% 0%, 0% 0%, 100% 64%);
	}
	.top {
	height: 0px;
	}
	h1 {
		font-size: 6em;
		margin-bottom: .5em;
	}
	#profile {
		max-width: 90%;
		margin: auto;
		font-family: 'Quicksand', sans-serif;	
		#bio {
			background-color: $darkblue;
			padding: .75em;
			border-radius: 2px;
			color: $cream;	
			font-weight: lighter;
			font-size: 1em;
			img {
				justify-self: center;
				float: left;
				shape-outside: url('/images/cutout.png');
				shape-margin: 2%;
				max-width: 50%;
				max-height: 400px;
				z-index: 10;
				margin-top: 18em;
			}
			a {
				color: #30b8a1
			}
			button {
				background-color: #FBEEC1;
				border: 1px solid $cream;
				color: #011f51;
				outline: none;
  			transition: 1s ease-in-out;
				cursor: pointer;
				&:hover {
					background-color: #011f51;
					color: $cream;
					transition: 1s ease-in-out;
				}
			}
		}
	}

	@media (max-width: 800px) and (max-height: 800px) {
		#profile {
			#bio {
				font-size: 1em;
			}
		}
	}

	@include breakpoint(xs-width) {
		h1 {
			font-size: 3em;
			margin-bottom: 1em;
		}
		#profile {
			#bio {
				font-size: .85em;
			}
		}
	}

	@include breakpoint(sm-width) {
		h1 {
			font-size: 4em;
			margin-bottom: 1em;
		}
		#profile {
			width: 80%;
			#bio {
				font-size: 1.3em;
				img {
					margin-top: 10em;
				}
			}
		}
	}

	@include breakpoint(md-width) {
		max-height: 85vh;
		#profile {
			h1 {
				margin-bottom: 1em;
			}
			#bio {
				img {
					margin-top: 2em;
				}
			}
		}
	}

	@media (max-height: 576px) and (min-width: 568px) {
		#about-head {
			padding: 0;
		}
		h1 {
			font-size: 3em;
			margin-bottom: 1em;
		}
		#profile {
			#bio {
				width: 100%;
				font-size: .6em;
				img {
					max-width: 30%;
					margin-top:  -2em;
				}
			}
		}
	}

	.modal {
		display: grid;
		place-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		#resume {
			position: relative;
			background-color: $cream;
			#close {
				position: absolute;
    		top: -20px;
   		  right: -20px;
				font-size: 2em;
				color: #167974;
				background-color:  #FBEEC1;
				border-radius: 50px;
				border: 2px solid #FBEEC1;
				cursor: pointer;
			}
		}
	}
}