@import 'variables';

#home {
	height: 100vh;
	background-color: $cream;
	position: relative;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	.background {
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: $orange;
		clip-path: polygon(100% 64%, 0% 100%, 100% 100%);
	}
	.home-content {
		h1 {
			display: inline-block;
			margin: 0;
			font-size: 3em;
			font-family: 'Redressed', cursive;
			box-shadow: inset 0 -10px $cream, inset 0 -12px $orange;
			@include breakpoint(sm-height) {
				margin-top: -.5em;
			}
		}
		h2 {
			display: inline-block;
			padding: .1em .25em 0 .25em;
			margin-top: -.1em;
			border-top: 2px solid $orange;
			font-size: 1em;
		}
		button {
			color: $orange;
			border: 2px solid $orange;
			width: 4em;
			height: 3.8em;
			margin: 1em 0 3em 0;
			animation: pulse 2.5s infinite;
			animation-timing-function: linear; 
			box-shadow: inset 0 0 0 0 $cream;
			transition: .5s ease-out;
			&:hover{ 
				animation: none;
				color: $cream;
				box-shadow: inset 0 0 0 100px $orange;
			}
			@include breakpoint(sm-height) {
				padding: 0;
				font-size: .7em;
				margin: .5em 0 1em 0;
			}
			@keyframes pulse {
				0% { transform: scale(1); }
				50% { transform: scale(1.1); }
				100% { transform: scale(1); }
			}
		}
		.home-links {
			height: 3em;
		}
	}
}