@import '../styles/variables';

#contact {
	min-height: 85vh;
	background: linear-gradient(176deg, $teal 70%, $cream calc(70% + 2px));
	overflow-x: hidden;
	.top {
		height: 0;
	}
	h1 {
		margin: 1.5em;
		color: $rosewood;
		font-family: 'Quicksand', sans-serif;
		font-size: 2em;
		i {
			font-family: 'Redressed', cursive;
			color: $cream;
			font-size: 1.5em;
		}
	}
	form {
		display: grid;
		margin: auto;
		width: 60%;
		input, textarea {
			border: none;
			color:  $rosewood;
			background-color: $cream;
			&::placeholder {
				color: $darkblue;
			}
			&:focus, &:active, &:hover {
				outline: none;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active  {
				box-shadow: 0 0 0 30px  $cream inset;
				-webkit-box-shadow: 0 0 0 30px  $cream inset !important;
				-webkit-text-fill-color:  $rosewood !important;
			}
		}
		textarea {
			min-height: 6em;
		}
		button {
			margin: auto;
			font-size: 1.2em;
			color: $cream;
			border: 1px solid $cream;
			box-shadow: inset 0 0 0 0 $teal;
			transition: .5s ease-out;
			&:hover {
				box-shadow: inset 0 100px 0 0 $cream;
				color: $teal;
			}
		}
	}
	#confirm-msg {
		font-family: 'Quicksand', sans-serif;
		margin: 2em auto 0 auto;
		padding: 0 1em 0 1em;
		color: $rosewood;
		font-weight: bold;
	}
	@include breakpoint(xs-width) {
		h1 {
			font-size: .9em;
		}
		form {
			width: 80%
		}
	}

	@include breakpoint(sm-width) {
		h1 {
			font-size: 1.65em;
		}
		form textarea {
			min-height: 8em;
		}
		#confirm-msg {
			width: 60%;
		}
	}

	@include breakpoint(lg-width) {
		h1 {
			font-size: 2em;
		}
	}

	@include breakpoint(sm-height) {
		h1 {
			font-size: 1.5em;
		}
		form {
			width: 90%;
			textarea {
				min-height: 3em;
			}
		}
		#confirm-msg {
			width: 90%;
		}
	}
}  