html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #181818;
	/* background-image: linear-gradient(#FBEEC1, #da862d); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 10px solid #b3a577;
	margin:0;
	box-sizing: border-box;
	/* color: #011f51; */
	color: #b3a577;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	
}

a, a:visited {
	color: #6a040f;
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border-radius: 2px;
}

button, button:focus {
	color: #da862d;
	background-color: inherit;
	border: 1px dotted #da862d;
	border-radius: 25px;
	padding: 0px 40px 0px 40px;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}


